#top{
	display:flex;
	justify-content: space-between;
	align-items: center;
	.left{
		display:flex;
		.logo {
		    font-size: 21px;
		    color: #2e2e2e;
		    margin-left: 18px;
		    text-transform: uppercase;
		    span{
		    	    color: #FF6C60;
		    }
		}
		

	}
	.right{
		.btn-group{
			display:inline-block;
		}
	}
}
#bottom{
	aside{
		background: rgba(0,0,255,.1);
		overflow-y: auto;
		.list {
			//list-style-position: inside;
			width:160px;
			margin:0 auto;
			//background: #2a3542;
			li{
				font-family: '宋体';
				line-height:37px;
				font-size: 14px;
				cursor: pointer;
				color:#003;
				margin:0 12px;
				ol{
					li:hover{
						background: rgba(0,0,0,.3);
						background:#acd5f5;
						font-weight:900;
						color:#FFF;
					}
				}
				a{
					color: #003;
					font-weight:900;
				}
			}
			a:hover{
				background:rgba(255,0,0,.2);
				background:#acd5f5;
				display:block;
				color: #fff;
				text-decoration:none;
			}
			.expand {
				//list-style-image: url(../imgs/expand.gif);
				background: url(../imgs/expand.gif) no-repeat right 14px;
			}
			.fold {
				background: url(../imgs/fold.gif) no-repeat right 14px;
				//list-style-image: url(../imgs/fold.gif);
			}

		}



	}
}