#top{
	display:flex;
	justify-content: space-between;
	align-items: center;
	.left{
		//display:flex;

		a{
			color: #666666;
			font-size: 16px;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			border: 1px solid #f0f0f8 !important;
			padding: 2px 6px;
			margin-right: 15px;
			text-decoration: none;
			text-align:center;
			.badge{
				position: absolute;
				right: -10px;
				top: -10px;
				z-index: 100;
			}
		}
		.logo {
			font-size: 22px;
			color: #2e2e2e;
			margin:0px 53px 0px 16px;
			text-transform: uppercase;
			border:none;
			span{
				color: #FF6C60;
			}
		}
		

	}
	.right{
		.btn-group{
			display:inline-block;
		}
	}
}
#bottom{
	aside{
		background: rgba(0,0,255,.1);
		overflow-y: auto;
		.list {
			//list-style-position: inside;
			width:160px;
			margin:0 auto;
			//background: #2a3542;
			li{
				font-family: '宋体';
				line-height:37px;
				font-size: 14px;
				cursor: pointer;
				color:#003;
				margin:0 12px;
				ol{
					li{
						text-indent: 16px;

					}
					li:hover{
						background: rgba(0,0,0,.3);
						background:#acd5f5;
						font-weight:900;
						color:#FFF;
					}
				}
				a{
					color: #003;
					font-weight:900;
					padding:0 10px;
				}
			}
			a:hover{
				background:rgba(255,0,0,.2);
				background:#acd5f5;
				display:block;
				color: #fff;
				text-decoration:none;
				i{
					color:red;
				}
			}
			.expand {
				//list-style-image: url(../imgs/expand.gif);
				background: url(../imgs/expand.gif) no-repeat right 14px;
			}
			.fold {
				background: url(../imgs/fold.gif) no-repeat right 14px;
				//list-style-image: url(../imgs/fold.gif);
			}

		}

	}
}
.rightContent{
	.nav{
		margin-top:20px;
		.col-md-3{
			.panel{
				height:100px;
				border-radius: 5px;
				//width:25%;
				.left{
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					float:left;
					width:50%;
					background:#6ccac9;
					height:100%;
					text-align:center;
					line-height:100px;
					i{
						font-size:44px;
						color:#fff;
					}
				}
				.sale{
					background:#ff6c60;
				}
				.command{
					background:#f8d347;
				}
				.right{
					width:50%;
					float:left;
					text-align:center;
					padding-top:20px;
					h1{
						font-size:26px;
						color:#c7cfde;
						p{
							font-size:12px;
							color:#eeeff2;
						}
					}
				}
			}
		}
	}
}
.charts{
	.row{
		#container{
			width:80%;
			float:left;
			height:400px;
			margin:0 auto;
		}
	}
	.col-md-4{
		.top{
			height:120px;
			background:#a9d96c;
			border-radius:5px;
		}
	}
}

.job{
	margin-top:20px;
	padding-left:15px;
	padding-right:15px;
	.col-md-4{
		height:300px;
		border-radius:5px;
		background:#fff;
		.top{
			height:110px;
			.pic{
				float:left;
				margin-right:10px;
			}
			.intro{
				margin-left:5px;
				h1{
					font-size:20px;
					color:#39b5aa;
					margin-top:15px;
				}
			}
		}
		table{
			tr{
				height:43px;
				border-top:1px solid #eeeff1;
				vertical-align:middle;
			}
			.focus{
				border-bottom:none;
			}
		}
	}
	.col-md-8{
		margin-left:50px;
		background:#fff;
		border-radius:5px;
		.top{
			margin-left:5px;
			float:left;
			h1{
				font-size:20px;
				color:#39b5aa;
				margin-top:15px;
			}
		}
		table{
			tr{
				border-top:1px solid #eeeff1;
				height:43px;	
			}
		}
	}	
}
.time{
	margin-top:20px;
	height:190px;
	.col-md-8{
		height:190px;
		background:#fff;
		margin-right:50px;
		border-radius:5px;
		margin-left:15px;
		.left{
			width:50%;
			float:left;
			h1{
				padding-top:25px;
				font-size:26px;
				color:#937b7b;
			}
			h3{
				font-size:24px;
				color:#f8ddaf;
			}
		}
		.right{
			img{
				width:335px;
				height:190px;
			}
		}
	}
	.col-md-4{
		height:190px;
		background:#58c9f3;
		border-radius:5px;
		margin-right:15px;
		.fan{
			img{
				width:320px;
				height:140px;
				margin-bottom:10px;
			}
			.bottom{
				height:35px;
				// background:#fff;
				a{
					line-height:35px;
					display:inline-block;
					width:24%;
					text-align:center;
					color:#fff;
					font-size:16px;
				}
			}
		}
	}
}

.flatlab{
	margin-top:20px;
	height:190px;
	.col-md-8{
		height:190px;
		background:#fff;
		margin-right:50px;
		border-radius:5px;
		margin-left:15px;
		.left{
			float:left;
			img{
				width:335px;
				height:190px;

			}	
		}
		.right{
			float:left;
			width:50%;
			
			h1{
				text-align:center;
				padding:60px 0;
				font-size:16px;
				color:#a19899;
			}
			.aLLA{
				padding-left:105px;
				img{
					margin-right:10px;
				}
			}
		}
	}
	.col-md-4{
		height:190px;
		// background:#000;
		border-radius:5px;
		margin-right:15px;
	}
}





